######################
# Project Specific
######################

######################
# Intellij
######################
.idea/
*.iml
*.iws
*.ipr
*.ids
*.orig
*.xml
classes/
out/

######################
# Maven
######################
log/
target/
eclipse-simulator-deploy/target/
eclipse-simulator-handlers/target/

######################
# Package Files
######################
*.jar

######################
# Logs
######################
*.log*

######################
# Others
######################
*.class
*.*~
*~
.merge_file*